style.
  .utterances {
    max-width: 100%;
  }
script(src="https://utteranc.es/client.js"
        repo=theme.utterances.repo
        issue-term="title"
        theme="github-light"
        crossorigin="anonymous"
        async)
